
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: azure;
    font-family: "Signika", Arial, serif;
    width: 100%;
    height: 100%;
}

label {
    color: aliceblue;
}

.flex {
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#liebess {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
}

.box {
    width: 370px;
    height: 570px;
    margin: 30px auto;
    display: flex;
    justify-content: flex-start;
    border-radius: 43px;
    /* background-color: #5454548b;   */
    /* padding: 50px 0 50px 78px; */
    color: aliceblue;
    background: rgba(86, 86, 86, 0.25);
box-shadow: 0 8px 32px 0 rgba(125, 135, 31, 0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
/* overflow: scroll; */

}


/* Hide scrollbar for Chrome, Safari and Opera */
.box::-webkit-scrollbar {
    display: none;
}



form {
    box-sizing: border-box;
    padding: 50px 0 50px 38px;

    display: flex;
    flex-direction: row;
    gap: 100px;
    transition: ease-in-out 0.6s;
}

.first-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.direction-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-direction-wrapper {
    width: 100%;
    height: 100%;
}   

.direction {
    color: #ffffff;
    cursor: pointer;
    z-index: 1000;
    bottom: 0;
    background-color: #b3739c;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}


.left {
    position: absolute;
    left: 0;
    border-radius: 0 20px 0 30px;
}

.right {
    position: absolute ;
    right: 0;
    border-radius: 20px 0 30px 0;
}


.form-group {
    display: flex;
    width: 300px;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: first baseline;
    color: #444444;
}


button[type="submit"] {
    background-color: #b46095;
    color: white;
    padding: 14px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 45%;
    border-radius: 25px;
    font-size: 1.1rem;
}

button[type="submit"]:hover {
    background-color: #b3739c;

}

input[type="datetime-local"]{
    cursor: pointer;
}

input[type="datetime-local"]:focus{
    outline: none;
}

input {
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #d0d0d0;
    border-radius: 15px;
    width: 100%;
    color: #545454;
    text-align: center;
    font-size: 0.9rem;
    z-index: 2;
}

.wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

}



input[name="people"]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

input[name="people"] {
    width: 100%;
}

input[name="table"] {
    display: none;
}

.second-view .form-group .container1 {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 300px;
    scroll-snap-align: end;
    scroll-snap-type: x mandatory;
    direction: rtl;
    cursor: -webkit-grab;
}

.second-view .form-group .container1:active {
    cursor: -webkit-grabbing;
}


/* .second-view .form-group .container1::-webkit-scrollbar {
    height: 10px;
    width: 100%;
} */

.tables {
    position: relative;
    margin-top: 10px;
    width: 500px;
    height: 200px;
    background-color: #d6d6d686;
    border-radius: 20px;
}

.pointer {
    cursor: pointer;
}


.bar {
    position: absolute;
    right: 150px;
    top: 0;
    width: 150px;
    height: 75px;
    border-radius: 13px;
    overflow: hidden;
}
.done {
    position: absolute;
    top: 60px;
    right: 0px;
    height: 50px;
    width: 50px;
}

.nanni {
    position: absolute;
    top: 0;
    right: 72px;
    height: 50px;
    width: 50px;
}

.sepp {
    position: absolute;
    top: 10px;
    right: 0px;
    height: 50px;
    width: 50px;
}

.jakob {
    position: absolute;
    top: 70px;
    right: 72px;
    height: 50px;
    width: 50px;
}
.franze {
    position: absolute;
    top: 120px;
    right: 0px;
    height: 50px;
    width: 50px;

}

.bella {
    position: absolute;
    bottom: -10px;
    right: -10px;
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);

}

.katl {
    position: absolute;
    bottom: -12px;
    right: 50px;
    height: 50px;
    width: 50px;

}

.petra {
    position: absolute;
    bottom: 35px;
    right: 50px;
    height: 50px;
    width: 50px;
    transform: rotate(-40deg);


}

.lexi {
    position: absolute;
    bottom: 0px;
    right: 80px;
    height: 50px;
    width: 50px;
    transform: rotate(-90deg);


}

.karl {
    position: absolute;
    bottom: 48px;
    right: 120px;
    height: 50px;
    width: 50px;
    transform: rotate(-70deg);
}

.emmy {
    position: absolute;
    top: 90px;
    right: 250px;
    height: 50px;
    width: 50px;

}

.elena {
    position: absolute;
    bottom: -10px;
    right: 250px;
    height: 50px;
    width: 50px;


}

.hias {
    position: absolute;
    bottom: -10px;
    right: 304px;
    height: 50px;
    width: 50px;


}

.soraya {
    position: absolute;
    bottom: 44px;
    right: 304px;
    height: 50px;
    width: 50px;
}


.outside {
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 120px;

}
.bar2 {
    position: absolute;
    right: 0;
    top: 0px;
    width: 150px;
    height: 75px;
    border-radius: 13px;
    overflow: hidden;

}


.checkbox-wrapper {
    margin-top: 10px;
    flex-grow: 0;
    height: 30px;
    align-items: center;
    gap: 10px;
}

input#table-or-none {
    cursor: pointer;
    margin: 0;
    border-radius: 5px;
    padding: 0;
    height: 20px;
    width: 20px;
    align-self: center;
}


input#table-or-none:checked + .checkbox-wrapper {
    background-color: #b46095;
}

.arr {
    position: absolute;
    cursor: pointer;
    z-index: 1000;
    transform: scale(0.6);
    fill: #545454;
}

.arr:hover {
    transform: scale(0.9);
    transition: 0.3s;
    fill: #b46095;
}

.arr-up {
    top: 7px;
    right: 8px;
}

.arr-down {
    top: 7px;
    left: 8px;

}

input[type="number"]:focus, input[type="text"]:focus {
    background-color: #ddd;
    outline: none;
}

#video {
    width: 100%; 
    height: 100vh;
    object-fit: cover;
    object-position: center -200px;
    filter: blur(13px) brightness(0.9) saturate(0.8);
    position: fixed;
    top: 0;
    z-index: -2;

}

.gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background: radial-gradient(circle at center, transparent, rgba(0, 0, 0, 0.188) 99%);
    z-index: -1;
}


/* @media screen and (max-width: 500px) {
    .box {
        width: 90%;
    }

    .form-group {
        width: 80%;
    }
    
} */